@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.navbar{
    margin: 40px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.judul1{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 28px;
line-height: 100%;
/* identical to box height, or 28px */

display: flex;
align-items: center;
letter-spacing: 0.04em;

color: #3B3949;
}
.judul1 span{
    color:#FF5F26;
    ;
}
.judul2{
    display: flex;
    gap: 10px;
    align-items: center;
}

.container{
    display: flex;
    justify-content: center;
    border-radius: 1px;
    width: 860px;
    margin: auto;
    height: 800px;
    background: #FFFFFF;
    box-shadow: 0px 16px 90px rgba(19, 7, 52, 0.08);
    border-radius: 12px;
    padding-left:40px;
    box-sizing: border-box;
   
}
.colom1 div{
padding: 5px;
}
.sidebar1{
 display: flex;
 justify-content:space-between;
 width: 800px;
 padding-top: 10px;
}

.colom1 .mytasks{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 100%;
display: flex;
align-items: center;
letter-spacing: 1px;
color: #FF5F26;
}
.colom1 .todolist{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 100%;

display: flex;
align-items: center;
color: #293038;
flex: none;
order: 0;
flex-grow: 0;
}
.colom1 .harianSaya{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400px;
font-size: 16px;
line-height: 100%;
display: flex;
align-items: center;
color: #7A7F83;
flex: none;
order: 1;
flex-grow: 0;
}
.sidebar1 {
    align-items: center;
}

.sidebar2{
    display: flex;
    justify-content: space-between;
    width: 800px;
    padding-top: 29px;
}
.sidebar2 .sortBy{
Font-family: Poppins;
Font-size: 16px;
color:#7A7F83;
}
.sidebar2 .tanggal{
    margin-top: -10px;
}

.sidebar3 .satu {
    display: flex;
    justify-content: space-between;
    width: 800px;
    align-items: center;
}
.sidebar3 .designTeam {
    width: 179px;
    height: 14px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    display: flex;
    align-items: center;
    color: #7A7F83;
    flex: none;
    order: 1;
    flex-grow: 0;
    padding: 10px;
    padding-left: 40px;
}

.sidebarTugas{
    display: flex;
    justify-content: flex-start;
    align-content: center;
    height: 106px;
    margin-bottom: 10px;
    width: 860px;
    background: #F5F5F5;
    box-sizing: border-box;
    padding-left: 40px;
    margin-left: -40px;
    
}
.sidebarTugas .iconbulat{
    margin-top: 15px;
}
.sidebarTugas .listTugas {
    margin-left: 10px;
}
.listTugas .namaTugas{
    font-family: 'sPoppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    display: flex;
    align-items: center;
    color: #9E9E9E;
}
.descripsiTugas{
    display: flex;
    justify-content: flex-start;    
}

.descripsiTugas .fotogaris img{
    width: 20px;
    height: 20px;
    padding-right: 10px;
    align-items: center;
    
}
.descripsiTugas .descripsi {
    width: 200px;
    height: 14px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    display: flex;
    align-items: center;
    color: #9E9E9E;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.tglTugas{
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}
.tglTugas .fotokotak img{
    width: 20px;
    height: 20px;
    padding-right: 10px;
    margin-top: -10px;
}
.tglTugas .tglWaktu{
    width: 151px;
    height: 14px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    display: flex;
    align-items: center;
    color: #9E9E9E;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.sidebar3 .satu .content2,.content3{
    margin-left: -560px;
    padding-left: -100px;
}


.sidebar4 .dua{
    display: flex;
    justify-content: space-between;
    width: 800px;
    align-items: center;
}
.sidebar4 .content6{
Font-style:Medium;
Font-size: 18px;
Line-height: 18px;
Line-height: 100%;

}
.sidebar4 .content6 , .content7 {
    margin-left: -550px;
    padding-left: 20px;
 
}

.sidebar5 .tiga{
    display: flex;
    justify-content: space-between;
    width: 800px;
    align-items: center;
}
.tiga .content10{
    
Font-style: Medium;
Font-size: 18px;
Line-height: 18px;
Line-height: 100%;

}
.sidebar5 .content10 , .content11{
    margin-left: -530px;
    padding-left: 110px;
}

.footbar{
    display: flex;
    justify-content: flex-start;
    align-items: center;

}
.footbar .footbarMain{
padding-left: 10px;
}
/* responsive */
@media screen and (max-width: 768px) {
    .judul1 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 50%;
        margin-right: 20px;
    }
    .container {
     width: 470px;
    margin: auto;
    height: 672px;
    background: #FFf;
    box-shadow: 0px 16px 90px rgba(19, 7, 52, 0.08);
    border-radius: 12px;
    padding-left: 40px;
    box-sizing: border-box;
    background-color: #FFf;
    }
    .sidebar1 {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 400px;
    padding-top: 10px;

    }
    .sidebar2,
    .sidebar3,
    .sidebar4,
    .sidebar5 {
        width: 400px;
        margin: auto;
    }
    .listTugas .namaTugas{
    font-family: 'sPoppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    display: flex;
    align-items: center;
    color: #9E9E9E;
}
.sidebarTugas {
    height: 106px;
    margin-bottom: 10px;
    width: 460px;
    background-color:#F5F5F5;
    box-sizing: border-box;
}
.footbar{
    border-top: 1px solid black;
    margin-top: -130px;
}
}